@import url(./main.css);
/* =================== */
/*       Social     */
/* =================== */
.social-container{
    grid-template-columns: max-content;
    gap: 1rem;
}

.social-link{
    display: inline-flex;
    align-items: center;
    font-size: var(--small-size);
    color: var(--text-color);
}
.social-link:hover{
    color: var(--title-color);
}

.social-icon{
    font-size: 1.2rem;
    margin-right: .25rem;
}
/* =================== */
/*       Profile       */
/* =================== */

.profile-description{
    text-align: center;
}
