/* Main css */
@import url(./main.css);

/* ================================ */
/*       Education  and Experience  */
/* ================================ */
.education-content,
.experience-content {
    display: flex;
}

.education-time,
.experience-time {
    padding-right: 1rem;
}

.education-rounder,
.experience-rounder {
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    background-color: var(--text-light);
    border-radius: 50%;
    margin-top: .25rem;
}


.education-line{
    display: block;
    width: 2px;
    height: 110%;
    background-color: var(--text-light);
    transform: translate(7px, 0);
}

.education-data,
.experience-data{
    gap: .5rem;
}

.education-title,
.experience-title{
    font-size: var(--h3-size);
}
.education-studies,
.experience-company{
    font-size: var(--small-size);
    color: var(--title-color);
}

.education-year{
    font-size: var(--smaller-size);
}

.experience-company{
    display: flex;
    align-items: center;
}

.logo {
    width: 5em;
    padding-left: 1em;
}

/* =================== */
/*       Skills     */
/* =================== */

.skills-content{
    grid-template-columns: repeat(2, 1fr);
}

.skills-content{
    gap: 0;
}
.skills-name{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
}

.skills-circle{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--text-color);
    margin-right: .75rem;
}



