@import url(./main.css);

/* Layout */
.bd-container{
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}
.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.l-header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    transition: .3s;
}

/* NAV */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 968px){
    .nav_menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
        z-index: var(--z-fixed);
        transition: .4s;
    }
}

.nav_logo, 
.nav_toggle{
    color: var(--title);
    font-weight: var(--font-medium);
}

.nav_toggle{
    font-size: 1.2rem;
    cursor: pointer;
}
.nav_item{
    text-align: center;
}
.nav_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.nav_link{
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-size);
    color: var(--text-light);
    font-weight: var(--font-medium);
}
.nav_link:hover{
    color: var(--title);
}
.nav_icon{
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}

/* Show Menu */
.show-menu{
    bottom:var(--header-height) ;
}
/* Active Menu Link */
.active-link{
    color: var(--title);
}