.home{
    position: relative;

}


.home_container{
    gap: 3rem;
}

.home_data{
    gap: .5rem;
    text-align: center;
}

.home_img{
    width: 120px;
    height: 160px;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--mb-1);
}

.home_title{
    font-size: var(--h1-size);
}
.home_profession{
    font-size: var(--normal-size);
    margin-bottom: var(--mb-1);
}
.home_address{
    gap: 1rem;
}
.home_information{
    display: flex;
    align-items: center;
    font-size: var(--small-size);
}
.home_icon{
    font-size: 1.2rem;
    margin-right: .25rem;
}
.home_button-movil{
    display: inline-block;
    border: 2px solid var(--text-color);
    color: var(--title);
    padding: 1rem 2rem;
    border-radius: .25rem;
    transition: .3s;
    font-weight: var(--font-medium);
    margin-top: var(--mb-3);
}
.home_button-movil:hover{
    background-color: var(--text-color);
    color: var(--container-color);
}